header {
    background-color: black;
    color: #EFEFEF;
    padding: 20px 50px; 
    font-family: fantasy;
    text-align: center;
}

figcaption {
    font-family: fantasy;
    text-align: center;
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

article > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 5px 10px;
}

footer {
    background-color: #b1abab;
    padding: 5px 10px;
}

h4 {
   color: orange;
}
