header {
    background-color: black;
    color: #FFFFFF;
    padding: 1em 2em; 
    font-family: fantasy;
    text-align: center;    
}

section {
    padding: 0.5em;
    margin: 0.5em;
}

figcaption.mindmap {
    font-family: fantasy;
    text-align: center;
}

figcaption.icons {
    font-family: fantasy;
}

figure.langicon { 
    display: inline-block; 
    padding: 0.75em;
    margin: 0.75em;   
}

.map {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
  }

article > time {
    float: right;
    font-family: fantasy;
    font-weight: bold;
    font-size: 0.90em;
    color: #FFC04D; 
    margin: 0 1em 0 0;   
}

article > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0em;
}

main {
    padding: 0.2em;
}

footer {
    border: 0.05em outset;
    background-color: #F0F0F0;
    margin: 0em;
    padding: 0.5em;
}

h4 {
   color: orange;
   font-family: fantasy;
   font-weight: bolder;
   margin: 0em;
   padding: 0em;
}

div > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0em;
}

#textbutton button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    color: blueviolet;
    padding: 0.5em 0.8em;
    border: blueviolet solid;
    border-radius: 1em;
}

a {
    font-style: italic;
}
